name: Deploy

on:
  release:
    types: [published]

jobs:
  deploy:
    if: ${{ github.event.release.prerelease == false }}
    runs-on: ubuntu-latest
    steps:
      - name: Deploy via SSH
        uses: appleboy/ssh-action@v0.1.8
        with:
          host: ${{ secrets.DEPLOY_HOST }}
          username: ${{ secrets.DEPLOY_USER }}
          key: ${{ secrets.DEPLOY_SSH }}
          script: |
            export PATH="/root/.nvm/versions/node/v22.19.0/bin:$PATH"
            cd /opt/apps/community-bots
            git pull origin master
            npm ci
            pm2 reload community-bots
